# app
app/config.php

# storage
storage/
storage/logs/

# server
cgi-bin
.cpanel.yml
.user.ini
.well-known
.todo
.htaccess

# vendor
vendor/
vendor/composer

# promo video
public/assets/imgs/public/promotional-video.mp4