<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- SEO Meta Tags -->
   <title>Init Application</title>

   <!-- Import Assets -->
   <!-- JQuery for Faster Scripting -->
   <script src="@assets/js/jquery.min.js"></script>
   <script src="@assets/js/popper.min.js"></script>
   <!-- Bootstrap for Faster Styling -->
   <script src="@assets/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="@assets/css/bootstrap.css">
   <!-- FontAwesome for Your Icons -->
   <link rel="stylesheet" href="@assets/css/fontawesome.css">
   <!-- Your Custom Assets -->
   <script src="@assets/js/main.js"></script>
   <link rel="stylesheet" href="@assets/css/main.css">
</head>
<body>

   <!-- start buiding that nice interface... 😉 -->

</body>
</html>