<footer id="footer">
   <div class="container fg-white body-text h-100 d-flex justify-content-between align-items-center">
      <div>
         &copy;&nbsp;{{date('Y')}}&nbsp;SPICY GUITAR ACADEMY
      </div>
      <div class="socialicons h-100 d-flex justify-content-between align-items-center">
         <a href="https://facebook.com/oc.spicyjazzy" target="_blank">
            <img src="@assets/imgs/public/facebook.svg">
         </a>
         <a href="https://twitter.com" target="_blank">
            <img src="@assets/imgs/public/twitter.svg">
         </a>
         <a href="https://instagram.com/oc_spicyjazzy" target="_blank">
            <img src="@assets/imgs/public/instagram.svg">
         </a>
         <a href="https://www.youtube.com/channel/UCPiHCDyWuELnEljRENTrp5w" target="_blank">
            <img src="@assets/imgs/public/youtube.svg">
         </a>
      </div>
   </div>
</footer>