<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Spicy Guitar Academy</title>
   <meta name="description"
      content="Spicy Guitar Academy is aimed at guiding beginners to fulfill their dream of becoming professional guitar players.">
   <link rel="shortcut icon" href="@assets/imgs/spicy_logo.png" type="image/x-icon">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet">
   <!-- Jquery -->
   <script src="@assets/js/jquery.min.js"></script>
   <!-- Popper -->
   <script src="@assets/js/popper.min.js"></script>
   <!-- Bootstrap -->
   <script src="@assets/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="@assets/css/bootstrap.css">
   <!-- Font Awesome -->
   <link rel="stylesheet" href="@assets/css/fontawesome.css">
   <!-- Custom -->
   <script src="@assets/js/main.js"></script>
   <link rel="stylesheet" href="@assets/css/main.css">

   <link rel="stylesheet" href="@assets/css/homepage.css">
</head>

<body>

   <header>

      <nav id="nav">
         <div class="container">
            <div class="brand-logo">
               <img src="@assets/imgs/spicy_logo.png" alt="Spicy Guitar Academy">
            </div>

            <div class="navlist">
               <ul>
                  <li><a class="text-decoration-none body-text active" href="@/">Home</a></li>
                  <li><a class="text-decoration-none body-text" href="@/#features">Features</a></li>
                  <li><a class="text-decoration-none body-text" href="@/terms">Terms</a></li>
               </ul>
            </div>
            <div class="menu">
               <button onclick="toggleMenu();">
                  <img class="show" src="@assets/imgs/public/menu.svg" alt="menubar">
                  <img class="hide d-none" src="@assets/imgs/public/close.svg" alt="menubar">
               </button>
               <script>
                  function toggleMenu() {
                     let navlist = document.querySelectorAll("nav#nav>div.container>div.navlist")[0];
                     navlist.classList.contains('show') == true ? navlist.classList.remove('show') : navlist.classList.add('show');
                     let imgshow = document.querySelectorAll("nav#nav>div.container>div.menu>button>img.show")[0];
                     let imghide = document.querySelectorAll("nav#nav>div.container>div.menu>button>img.hide")[0];
                     navlist.classList.contains('show') == true ? imghide.classList.remove('d-none') : imghide.classList.add('d-none');
                     navlist.classList.contains('show') == true ? imgshow.classList.add('d-none') : imgshow.classList.remove('d-none');
                  }
               </script>
            </div>
         </div>
      </nav>

      <section id="hero">
         <div class="container ">
            <div class="row no-gutters">
               <div class="hero-speech col-lg-7 col-md-7 col-8">
                  <h1 class="header-text">
                     <span class="fg-orange">Learn Guitar With</span><br>
                     <span class="fg-white">Spicy Guitar Academy</span>
                  </h1>
                  <div class="fg-orange body-text">
                     <p>
                        <span>
                           Spicy Guitar Academy Is Aimed At Guiding Beginners To Fulfill Their Dream Of Becoming
                           Professional Guitar Players.
                        </span>
                     </p>

                     <p class="motto body-text">
                        <small>- Guitarism, Igniting Creativity.</small>
                     </p>

                     <div class="googleplay">
                        <a href="https://play.google.com/store/apps/details?id=com.spicyguitaracademy" target="_blank">
                           <img src="@assets/imgs/public/googleplay.png" alt="Download on Google Play">
                        </a>
                     </div>

                  </div>
               </div>
               <div class="hero-image col-lg-5 col-md-5 col-4">
                  <img src="@assets/imgs/public/mobileapp.png" alt="Spicy Guitar Academy App">
               </div>

            </div>
         </div>
      </section>

   </header>

   <section id="features">

      <div id="subtitle" class="container">
         <h2 class="subheader-text">
            Features
         </h2>
      </div>

      <div id="section-one">
         <div class="container">
            <div class="feature row no-gutters">
               <div class="col-lg-8 col-md-11 offset-md-1 col-12 row">
                  <div class="feature-img col-lg-4 col-md-4 col-4">
                     <img src="@assets/imgs/public/categories.png" alt="Categories in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description col-lg-8 col-md-8 col-8 body-text fg-grey">
                     <p>Learn At Your <br>Convinience And Pace.</p>
                  </div>
               </div>
            </div>

            <div class="feature row no-gutters">
               <div class="col-lg-7 offset-lg-4 col-md-8 offset-md-2 col-12 row">
                  <div class="feature-img col-lg-4 col-md-5 col-4 order-md-2">
                     <img src="@assets/imgs/public/tutorialcourses.png" alt="Courses in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description inverse col-lg-8 col-md-7 col-8 body-text fg-grey order-md-1">
                     <p>Access Different <br>Interesting Courses.</p>
                  </div>
               </div>
            </div>

            <div class="feature row no-gutters">
               <div class="col-lg-8 col-md-11 offset-md-1 col-12 row">
                  <div class="feature-img col-lg-4 col-md-4 col-4">
                     <img src="@assets/imgs/public/tutorialvideo.png" alt="Lessons in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description col-lg-8 col-md-8 col-8 body-text fg-grey">
                     <p>Easy To Understand <br>Step By Step Video <br>Lessons.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div id="section-two">
         <div class="container">
            <div class="feature row no-gutters">
               <div class="col-lg-7 offset-lg-4 col-md-8 offset-md-2 col-12 row">
                  <div class="feature-img col-lg-4 col-md-5 col-4 order-md-2">
                     <img src="@assets/imgs/public/lessons.png" alt="Courses in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description inverse col-lg-8 col-md-7 col-8 body-text fg-grey order-md-1">
                     <p>Hundreds Of Lessons <br>From Beginners To <br>Advance.</p>
                  </div>
               </div>
            </div>

            <div class="feature row no-gutters">
               <div class="col-lg-8 col-md-11 offset-md-1 col-12 row">
                  <div class="feature-img col-lg-4 col-md-4 col-4">
                     <img src="@assets/imgs/public/tutorialaudio.png" alt="Categories in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description col-lg-8 col-md-8 col-8 body-text fg-grey">
                     <p>Backing Track With <br>Adjustable Tempo <br>Features.</p>
                  </div>
               </div>
            </div>

            <div class="feature row no-gutters">
               <div class="col-lg-7 offset-lg-4 col-md-8 offset-md-2 col-12 row">
                  <div class="feature-img col-lg-4 col-md-5 col-4 order-md-2">
                     <img src="@assets/imgs/public/studentforum.png" alt="Courses in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description inverse col-lg-8 col-md-7 col-8 body-text fg-grey order-md-1">
                     <p>Join Our <br>Student Forum.</p>
                  </div>
               </div>
            </div>

         </div>
      </div>

   </section>

   <section id="download">
      <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
         <h3 class="subheader-text fg-white font-weight-bold text-center">
            Download Now On Google Playstore
         </h3>
         <div class="googleplay">
            <a href="https://play.google.com/store/apps/details?id=com.spicyguitaracademy" target="_blank">
               <img src="@assets/imgs/public/googleplay.png" alt="Download on Google Play">
            </a>
         </div>
      </div>

   </section>

   <section id="stories">

      <div id="subtitle" class="container">
         <h2 class="subheader-text">
            Student Stories
         </h2>
      </div>

      <div id="contents">
         <div class="navbutton">
            <button onclick="previousComment();">
               <img src="@assets/imgs/public/leftbtn.svg">
            </button>
         </div>
         <div class="container">

            <div class="studentcomment">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/picture.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Abiodun A.
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Abiodun A.
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     Spicy Guitar Academy Is A Great Learning Hub For Any Guitarist That Want To Get On Top Of His/Her
                     Craft. Whether You're A Beginner, Amateur Or Advance Guitar Player, The Academy Will Teach To Grow
                     From Any Of These Categories To A More Advanced Level.
                  </p>
               </div>
            </div>
         </div>
         <div class="navbutton">
            <button onclick="nextComment();">
               <img src="@assets/imgs/public/rightbtn.svg">
            </button>
         </div>
      </div>


      <script>
         const studentComments = [
            { name: 'Abiodun Abey', comment: "Spicy Guitar Academy Is A Great Learning Hub For Any Guitarist That Want To Get On Top Of His/Her Craft. Whether You're A Beginner, Amateur Or Advance Guitar Player, The Academy Will Teach To Grow From Any Of These Categories To A More Advanced Level.", avatar: 'picture.png' },
            { name: 'Abiodun B.', comment: "Spicy Guitar Academy Is A Great Learning Hub For Any Guitarist That Want To Get On Top Of His/Her Craft. Whether You're A Beginner, Amateur Or Advance Guitar Player, The Academy Will Teach To Grow From Any Of These Categories To A More Advanced Level.", avatar: 'picture.png' },
            { name: 'Abiodun C.', comment: "Spicy Guitar Academy Is A Great Learning Hub For Any Guitarist That Want To Get On Top Of His/Her Craft. Whether You're A Beginner, Amateur Or Advance Guitar Player, The Academy Will Teach To Grow From Any Of These Categories To A More Advanced Level.", avatar: 'picture.png' },
            { name: 'Abiodun D.', comment: "Spicy Guitar Academy Is A Great Learning Hub For Any Guitarist That Want To Get On Top Of His/Her Craft. Whether You're A Beginner, Amateur Or Advance Guitar Player, The Academy Will Teach To Grow From Any Of These Categories To A More Advanced Level.", avatar: 'picture.png' }
         ]

         var commentIndex = 0;
         var base = '{{SERVER}}/public/assets/imgs/public/';
         showComment();
         
         function showComment() {
            document.querySelectorAll('.student-comment')[0].innerText = studentComments[commentIndex].comment;
            document.querySelectorAll('.avatar-student-name')[0].innerText = studentComments[commentIndex].name;
            document.querySelectorAll('.student-name')[0].innerText = studentComments[commentIndex].name;
            document.querySelectorAll('.avatar>img')[0].src = base + studentComments[commentIndex].avatar;
         }

         function nextComment() {
            commentIndex = commentIndex == studentComments.length - 1 ? 0 : ++commentIndex;
            const comment = document.querySelectorAll('.studentcomment')[0];
            comment.style.opacity = "0%";
            setTimeout(() => {
               showComment();
               comment.style.opacity = "100%";
            }, 500);
         }

         function previousComment() {
            commentIndex = commentIndex == 0 ? studentComments.length - 1 : --commentIndex;
            const comment = document.querySelectorAll('.studentcomment')[0];
            comment.style.opacity = "0%";
            setTimeout(() => {
               showComment();
               comment.style.opacity = "100%";
            }, 500);
         }

      </script>


   </section>

   <footer id="footer">

   </footer>

</body>

</html>