<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Spicy Guitar Academy</title>
   <meta name="description"
      content="Spicy Guitar Academy is aimed at guiding beginners to fulfill their dream of becoming professional guitar players.">
   <link rel="shortcut icon" href="@assets/imgs/spicy_logo.png" type="image/x-icon">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet">
   <!-- Jquery -->
   <script src="@assets/js/jquery.min.js"></script>
   <!-- Popper -->
   <script src="@assets/js/popper.min.js"></script>
   <!-- Bootstrap -->
   <script src="@assets/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="@assets/css/bootstrap.css">
   <!-- Font Awesome -->
   <link rel="stylesheet" href="@assets/css/fontawesome.css">
   <!-- Custom -->
   <script src="@assets/js/main.js"></script>
   <link rel="stylesheet" href="@assets/css/main.css">

   <link rel="stylesheet" href="@assets/css/homepage.css">
</head>

<body>

   <header>

      @php $page = 'home';
      @import nav.html

      <section id="hero">
         <div class="container ">
            <div class="row no-gutters">
               <div class="hero-speech col-lg-7 col-md-7 col-8">
                  <h1 class="header-text">
                     <span class="fg-orange">Learn Guitar With</span><br>
                     <span class="fg-white">Spicy Guitar Academy</span>
                  </h1>
                  <div class="fg-orange body-text">
                     <p>
                        <span>
                           Spicy Guitar Academy Is Aimed At Guiding Beginners To Fulfill Their Dream Of Becoming
                           Professional Guitar Players.
                        </span>
                     </p>

                     <p class="motto body-text">
                        <small>- Guitarism, Igniting Creativity.</small>
                     </p>

                     <div class="googleplay">
                        <a href="https://play.google.com/store/apps/details?id=com.spicyguitaracademy" target="_blank">
                           <img src="@assets/imgs/public/googleplay.png" alt="Download on Google Play">
                        </a>
                     </div>

                  </div>
               </div>
               <div class="hero-image col-lg-5 col-md-5 col-4">
                  <img src="@assets/imgs/public/mobileapp.png" alt="Spicy Guitar Academy App">
               </div>

            </div>
         </div>
      </section>

   </header>

   <section id="features">

      <div id="subtitle" class="container">
         <h2 class="subheader-text">
            Features
         </h2>
      </div>

      <div id="section-one">
         <div class="container">
            <div class="feature row no-gutters">
               <div class="col-lg-8 col-md-11 offset-md-1 col-12 row">
                  <div class="feature-img col-lg-4 col-md-4 col-4">
                     <img src="@assets/imgs/public/categories.png" alt="Categories in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description col-lg-8 col-md-8 col-8 body-text fg-grey">
                     <p>Learn At Your <br>Convinience And Pace.</p>
                  </div>
               </div>
            </div>

            <div class="feature row no-gutters">
               <div class="col-lg-7 offset-lg-4 col-md-8 offset-md-2 col-12 row">
                  <div class="feature-img col-lg-4 col-md-5 col-4 order-md-2">
                     <img src="@assets/imgs/public/tutorialcourses.png" alt="Courses in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description inverse col-lg-8 col-md-7 col-8 body-text fg-grey order-md-1">
                     <p>Access Different <br>Interesting Courses.</p>
                  </div>
               </div>
            </div>

            <div class="feature row no-gutters">
               <div class="col-lg-8 col-md-11 offset-md-1 col-12 row">
                  <div class="feature-img col-lg-4 col-md-4 col-4">
                     <img src="@assets/imgs/public/tutorialvideo.jpg" alt="Lessons in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description col-lg-8 col-md-8 col-8 body-text fg-grey">
                     <p>Easy To Understand <br>Step By Step Video <br>Lessons.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div id="section-two">
         <div class="container">
            <div class="feature row no-gutters">
               <div class="col-lg-7 offset-lg-4 col-md-8 offset-md-2 col-12 row">
                  <div class="feature-img col-lg-4 col-md-5 col-4 order-md-2">
                     <img src="@assets/imgs/public/lessons.png" alt="Courses in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description inverse col-lg-8 col-md-7 col-8 body-text fg-grey order-md-1">
                     <p>Hundreds Of Lessons <br>From Beginners To <br>Advance.</p>
                  </div>
               </div>
            </div>

            <div class="feature row no-gutters">
               <div class="col-lg-8 col-md-11 offset-md-1 col-12 row">
                  <div class="feature-img col-lg-4 col-md-4 col-4">
                     <img src="@assets/imgs/public/tutorialaudio.png" alt="Categories in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description col-lg-8 col-md-8 col-8 body-text fg-grey">
                     <p>Backing Track With <br>Adjustable Tempo <br>Features.</p>
                  </div>
               </div>
            </div>

            <div class="feature row no-gutters">
               <div class="col-lg-7 offset-lg-4 col-md-8 offset-md-2 col-12 row">
                  <div class="feature-img col-lg-4 col-md-5 col-4 order-md-2">
                     <img src="@assets/imgs/public/studentforum.png" alt="Courses in Spicy Guitar Academy">
                  </div>
                  <div class="feature-description inverse col-lg-8 col-md-7 col-8 body-text fg-grey order-md-1">
                     <p>Join Our <br>Student Forum.</p>
                  </div>
               </div>
            </div>

         </div>
      </div>

   </section>

   <section id="download">
      <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
         <h3 class="subheader-text fg-white font-weight-bold text-center">
            Download Now On Google Playstore
         </h3>
         <div class="googleplay">
            <a href="https://play.google.com/store/apps/details?id=com.spicyguitaracademy" target="_blank">
               <img src="@assets/imgs/public/googleplay.png" alt="Download on Google Play">
            </a>
         </div>
      </div>

   </section>

   <section id="stories">

      <div id="subtitle" class="container">
         <h2 class="subheader-text">
            Student Stories
         </h2>
      </div>

      <div id="contents">
         <div class="navbutton">
            <button onclick="previousComment();">
               <img src="@assets/imgs/public/leftbtn.svg">
            </button>
         </div>
         <div class="container">

            <div class="studentcomment show">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/isaiah.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Ifiok Isaiah 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Ifiok Isaiah 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     Spicy Guitar Academy Is A Great Learning Hub For Any Guitarist That Want To Get On Top Of His/Her
                     Craft. Whether You're A Beginner, Amateur Or Advance Guitar Player, The Academy Will Teach To Grow
                     From Any Of These Categories To A More Advanced Level.
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/ayinde.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Taiwo Ayinde 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Taiwo Ayinde 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     Spicy Guitar Academy Is A The Best Learning Platform For You To Bring Out Your Creativity. Since I
                     Joined This Academy, I Am Able To Bring Out The Unique Me And The Tutor Breaks Down The Lessons In
                     Simple Ways For Understanding. Spicy Guitar Academy Is Just The Best. 💯💯
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/dalavi.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Kalpana Dalavi 🇮🇳
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Kalpana Dalavi 🇮🇳
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     As A Complete Beginner, I Was Able To Play Nice After Free Classes. I Am Proud To Recommend Spicy
                     Guitar Academy Because Lessons Are Simplified Even To A Music Novice. The Tutor Is An Amazing
                     Guitar Teacher And Guitarist. I Would Like To Have Lessons Again!
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/oluwaseyi.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Adeyemi Oluwaseyi 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Adeyemi Oluwaseyi 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     Spicy Guitar Academy Has Made My Journey So Easy With Less Difficulties. The Collections Of Step By
                     Step In-Depth Lessons Has Propelled Me From A Beginner To An Intermediate And Hoping To Gain
                     Mastery Along The Course. I Gladly Recommend Spicy Guitar Academy
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/josephine.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Josephine Abung 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Josephine Abung 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     I Learnt Alot Within A Short Time After Joining Spicy Guitar Academy. Miraculously, I Was Able To
                     Hold Barred Chords. Now I Can Play Around The Frets And I Now Sound Sweet On The Guitar. Spicy
                     Guitar Academy Is Like A Family Where You CAn Share Your Struggles With The Tutor And He Listens
                     And Understands You.
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/taiwo.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Adeyemi Taiwo 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Adeyemi Taiwo 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     I Have Meet Some UnProfessional, Proud And Selfish Guitar Teachers. When I Came Across Spicy Guitar
                     Academy, My First Two Lessons Made Me Fall In Love More With The Guitar. The Tutor(OC Omofuma)
                     Understands The Struggle Of The Students.I See Lots Of Improvement In My Playing Since I Joined
                     Spicy Guitar Academy.
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/sholafunmi.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Sholafunmi 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Sholafunmi 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     I Had Been Playing For Years, But Since I Joined Spicy Guitar Academy, My Playing Moved To A New
                     Level Within Few Months The Tutor Is Very Good At Teaching And Playing Also. You Can't Regret
                     Choosing Spicy Guitar Academy, The Knowledge You Will Acquire Is Priceless Oc Omofuma (The Tutor)
                     Is A 'Father Of Many Nations'.
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/kod.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     KOD 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     KOD 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     Learning From Spicy Guitar Academy Made Me Learn Things I Thought I Could Never Do In Years To
                     Come. The Teachings Had A Constructive Pattern That Made Each Topic Connect To Each Other So It’s
                     Easy To Understand. Spicy Guitar Academy Is A Really Good Place To Learn, Try It Out. 😉
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/sammy.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Sammy Larbi Adipah 🇬🇭
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Sammy Larbi Adipah 🇬🇭
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     When I Joined Spicy Guitar Academy, I Acquired More Knowledge, More Secrets About Music And Guitar
                     Ministry. The Lessons Are So Easy To understand, Unique. For Guitar Breakdown And Coaching, Spicy
                     Guitar Academy The Best. 🔥🔥🔥🔥🎸🎸🎸🎸🎸🎸🎸🎸🎸
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/abiodun.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Abiodun Aladeokin 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Abiodun Aladeokin 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     Spicy Guitar Academy Is The Best Place To Learn Guitar At Any Level. My Current Position Today As A
                     Guitarist Is A Result Of The Knowledge I Acquired There. Spicy Guitar Academy Will Groom You With
                     All Necessary Guitar Ethics To Be A Guitarist That Stands Out.
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/jeremiah.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Jeremiah Stephen 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Jeremiah Stephen 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     One Thing Is Certain, Am Damn Sure I Wasn't The Same Lonely Beginner I Was Back Then Coming Into
                     Spicy Guitar Academy, My Whole Journey Changed For The Better, OC Omofuma (The Tutor) What An
                     Extraordinary Teacher Indeed. If You Feel Stuck And Wish To Improve, Spicy Guitar Academy Got You
                     Covered.
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/charles.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Olujobi Charles 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Olujobi Charles 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     I Want To Use This Opportunity To Appreciate Spicy Guitar Academy For Impacting My Life Musically.
                     The Tutor Is Good At What He Does And There's No Question You Ask That They Won't Answer In Time. I
                     Was A Novice When I Joined, But Now, I'm The Main Guitarist In My Church. As For Me And Spicy
                     Guitar Academy, Till Death Do Us Path.
                  </p>
               </div>
            </div>

            <!-- ================================================================== -->

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/victory.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Victory 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Victory 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     Choosing Spicy Guitar Academy Is The Best Decision In My Guitar Career. Lessons Are Made Easy,
                     Guitar Learning Became Easier For Me. At Spicy Guitar Academy I Learnt Different Styles, Jazz,
                     Rock, African Styles Too? Hope To See You In Class.
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/benjamin.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Maradesa Benjamin 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Maradesa Benjamin 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     I Never Knew There Was More To Guitar Until I Met My Mentor(Oc Omofuwa) The Tutor @Spicy Guitar
                     Academy. He Really Changed My Perspective On The Guitar. Thanks For Your Impact So Far And I
                     Sincerely Believe I Can Do More.
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/eric.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Eric Koome 🇰🇪
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Eric Koome 🇰🇪
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     I Searched For Guitar Lessons And Tutors All Over The Internet, I Didn't Find Any Tailored To
                     Satisfy My Curiosity. However, I Came Across Spicy Guitar Academy And Fell In Love With Everything
                     They Offered. They Have The Most Simplified Guitar Lessons At All Levels, Beginner ~ Advanced, A
                     Well Knowledgeable Instructor That Values Quality Over Financial Gains. Jazz Gets Easier With Your
                     First Lesson. I Remain Forever Grateful 🙏 For The Opportunity To Learn From You!
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/phill.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Phill Nyambe 🇿🇲
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Phill Nyambe 🇿🇲
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     After Playing Guitar For Some Time With No Understanding Of What I Was Playing It Only Took A Short
                     Period Of Time With Spicy Guitar Academy. I Learnt How Chords Come Up, How To Apply My Chords In
                     Any Kind Of Music, How To Use My Scales To Create Good Melody Lines. At Spicy Guitar Academy We
                     Don't Learn How To Play Only But We Understand And Play!! With Spicy Guitar Academy You Will Never
                     Go Wrong 🤙🏾🎸🎸🎸
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/tina.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Tina Thakkar 🇮🇳
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Tina Thakkar 🇮🇳
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     I Had Always Dreamt Of Playing The Guitar. But As An Indian Living Overseas, My Challenge Was
                     Getting A Tutor Good Enough To Teach Me Even Hindi Songs Too. Spicy Guitar Academy Made My Dream
                     Come Through. The Tutor Oc Omofuma Is One I Find To Be A Seasoned Professional With Excellent
                     Mastery On Guitar. I Just Completed My Basic Lessons With Spicy Guitar Academy.
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/temitope.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Oyediran Temitope 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Oyediran Temitope 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     Spicy Guitar Academy Has Well Structured Courses For Beginners Till Professional Level. This
                     Academy Indeed Saved Me Years Of Struggle Because Most Of What I Was Taught would Have Taken Me
                     Years To Learn If I Had To Learn Them On My Own. I learnt Alot Here, Jazz, Rock, Makossa, Afro etc.
                     I Say This With All Sincerity, 99% Of All I Know That Made Me Where I am now, I Learnt from here. I
                     recommend Spicy Guitar Academy. ❤️
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/albert.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Albert Pierre 🇭🇹
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Albert Pierre 🇭🇹
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     Spicy Guitar Academy Really Helped Me Move Up On The Guitar, The Teacher Uses Adapted And Very
                     Progressive Methods. In A Short Time I Really Progress. I Advise You To Register If You Really Want
                     To Progress To The Guitar.
                  </p>
               </div>
            </div>

            <div class="studentcomment hide">
               <div class="avatar mb-3 mb-md-0">
                  <img src="@assets/imgs/public/efe.png">
                  <h3 class="avatar-student-name ml-3 font-weight-bold fg-brown subheader-text">
                     Efe Asabor 🇳🇬
                  </h3>
               </div>
               <div class="comment">
                  <h3 class="student-name mb-lg-5 font-weight-bold fg-brown subheader-text">
                     Efe Asabor 🇳🇬
                  </h3>
                  <p class="student-comment fg-grey body-text">
                     My First Encounter With SPICY GUITAR ACADEMY Came After A Long Search For Where To Be Properly
                     Learn The Guitar. When I Got Into The Academy, My Love & Passion For Guitar Grew Stronger Because
                     Of The Eagerness To Teach Students & The Amazingly Positive Attitude It Was Taught. SPICY GUITAR
                     ACADEMY Is A Deligently Sincere Academy, A Place For Thorough Coaching. I Am Also Bold To Recommend
                     It For The Beginner, Intermediate & The Advance Levels.
                  </p>
               </div>
            </div>

         </div>
         <div class="navbutton">
            <button onclick="nextComment();">
               <img src="@assets/imgs/public/rightbtn.svg">
            </button>
         </div>
      </div>


      <script>
         var commentIndex = 0;
         var commentList = document.querySelectorAll('.studentcomment');

         function previousComment() {
            commentList[commentIndex].classList.remove('show')
            commentList[commentIndex].classList.add('hide')
            commentIndex = commentIndex === 0 ? (commentList.length - 1) : --commentIndex;
            commentList[commentIndex].classList.remove('hide')
            commentList[commentIndex].classList.add('show')
         }

         function nextComment() {
            commentList[commentIndex].classList.remove('show')
            commentList[commentIndex].classList.add('hide')
            commentIndex = commentIndex === (commentList.length - 1) ? 0 : ++commentIndex;
            commentList[commentIndex].classList.remove('hide')
            commentList[commentIndex].classList.add('show')
         }

      </script>


   </section>

   @import footer.html

</body>

</html>